
    <div class=item>
        <form class="form"action="/" method="post">
            <input calss="input"type="text" name="city" placeholder="City Name">
            <button class="btn btn-md"><i class="fas fa-search-location"></i> Search</button>
        </form>
    </div>